components/examples/embedded.json
[
    {
        "id": "dcdfa483.b6b2d8",
        "type": "component_in",
        "z": "5384bb85.537fd4",
        "name": "Component 1",
        "api": [
            {
                "name": "name1",
                "type": "string",
                "required": true
            },
            {
                "name": "Das ist ein l채ngerer",
                "type": "json",
                "required": true
            },
            {
                "name": "number",
                "type": "number",
                "required": true
            },
            {
                "name": "bool",
                "type": "boolean",
                "required": true
            },
            {
                "name": "sdfsdfdfsd",
                "type": "any",
                "required": true
            }
        ],
        "x": 170,
        "y": 320,
        "wires": [
            [
                "f18f31a4.2888b"
            ]
        ]
    },
    {
        "id": "56b92b19.e59524",
        "type": "component_out",
        "z": "5384bb85.537fd4",
        "name": "ret 01a",
        "mode": "default",
        "x": 710,
        "y": 320,
        "wires": []
    },
    {
        "id": "dc96eeae.03b13",
        "type": "component",
        "z": "5384bb85.537fd4",
        "name": "run 02",
        "targetComponent": {
            "id": "30f5fb76.8401c4",
            "name": "Component 2",
            "api": []
        },
        "paramSources": {},
        "statuz": "",
        "statuzType": "str",
        "outputs": 1,
        "outLabels": [
            "ret 02"
        ],
        "x": 550,
        "y": 320,
        "wires": [
            [
                "56b92b19.e59524"
            ]
        ]
    },
    {
        "id": "30f5fb76.8401c4",
        "type": "component_in",
        "z": "5384bb85.537fd4",
        "name": "Component 2",
        "api": [],
        "x": 170,
        "y": 420,
        "wires": [
            [
                "f894bb4.9489448"
            ]
        ]
    },
    {
        "id": "ead6ba0d.80dd18",
        "type": "component_out",
        "z": "5384bb85.537fd4",
        "name": "ret 02",
        "mode": "separate",
        "x": 670,
        "y": 420,
        "wires": []
    },
    {
        "id": "f18f31a4.2888b",
        "type": "change",
        "z": "5384bb85.537fd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "outer",
                "pt": "msg",
                "to": "{\"test\": 42}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 320,
        "wires": [
            [
                "dc96eeae.03b13",
                "1c65437f.5d316d"
            ]
        ]
    },
    {
        "id": "8b154ce9.4db91",
        "type": "inject",
        "z": "5384bb85.537fd4",
        "name": "Run",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"inner\":{\"more\":\"Hey\",\"even more\":999}}",
        "payloadType": "json",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "1cf63259.f760be"
            ]
        ]
    },
    {
        "id": "5900835f.17f83c",
        "type": "debug",
        "z": "5384bb85.537fd4",
        "name": "default (inner)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "f894bb4.9489448",
        "type": "change",
        "z": "5384bb85.537fd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "inner",
                "pt": "msg",
                "to": "23",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 420,
        "wires": [
            [
                "f250b246.6d27c"
            ]
        ]
    },
    {
        "id": "1c65437f.5d316d",
        "type": "component_out",
        "z": "5384bb85.537fd4",
        "name": "ret 01b",
        "mode": "separate",
        "x": 560,
        "y": 360,
        "wires": []
    },
    {
        "id": "1cf63259.f760be",
        "type": "component",
        "z": "5384bb85.537fd4",
        "name": "run 01",
        "targetComponent": {
            "id": "dcdfa483.b6b2d8",
            "name": "Component 1",
            "api": [
                {
                    "name": "name1",
                    "type": "string",
                    "required": true
                },
                {
                    "name": "Das ist ein l채ngerer",
                    "type": "json",
                    "required": true
                },
                {
                    "name": "number",
                    "type": "number",
                    "required": true
                },
                {
                    "name": "bool",
                    "type": "boolean",
                    "required": true
                },
                {
                    "name": "sdfsdfdfsd",
                    "type": "any",
                    "required": true
                }
            ]
        },
        "paramSources": {
            "name1": {
                "name": "name1",
                "type": "string",
                "required": true,
                "source": "\"Test\"",
                "sourceType": "jsonata"
            },
            "Das ist ein l채ngerer": {
                "name": "Das ist ein l채ngerer",
                "type": "json",
                "required": true,
                "source": "[\"a\", \"b\"]",
                "sourceType": "json"
            },
            "number": {
                "name": "number",
                "type": "number",
                "required": true,
                "source": "4",
                "sourceType": "json"
            },
            "bool": {
                "name": "bool",
                "type": "boolean",
                "required": true,
                "source": "true",
                "sourceType": "bool"
            },
            "sdfsdfdfsd": {
                "name": "sdfsdfdfsd",
                "type": "any",
                "required": true,
                "source": "{}",
                "sourceType": "json"
            }
        },
        "statuz": "name1",
        "statuzType": "msg",
        "outputs": 2,
        "outLabels": [
            "default",
            "ret 01b"
        ],
        "x": 330,
        "y": 240,
        "wires": [
            [
                "5900835f.17f83c"
            ],
            [
                "ee4645bc.e3f438"
            ]
        ]
    },
    {
        "id": "e2a3926c.6e823",
        "type": "link in",
        "z": "5384bb85.537fd4",
        "name": "link in 01",
        "links": [
            "f250b246.6d27c"
        ],
        "x": 575,
        "y": 420,
        "wires": [
            [
                "ead6ba0d.80dd18"
            ]
        ]
    },
    {
        "id": "f250b246.6d27c",
        "type": "link out",
        "z": "5384bb85.537fd4",
        "name": "link out 01",
        "links": [
            "e2a3926c.6e823"
        ],
        "x": 475,
        "y": 420,
        "wires": []
    },
    {
        "id": "ee4645bc.e3f438",
        "type": "debug",
        "z": "5384bb85.537fd4",
        "name": "outer only",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 260,
        "wires": []
    }
]