components/test/flows.json
[
    {
        "id": "22d80fc6.ada47",
        "type": "tab",
        "label": "examples",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5d0725e9aadb00ed",
        "type": "tab",
        "label": "tests",
        "disabled": false,
        "info": ""
    },
    {
        "id": "656d80ccf1abf694",
        "type": "tab",
        "label": "errors",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "aa8d4fd1ad84c1f0",
        "type": "tab",
        "label": "recursive context",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6542e73107b394b8",
        "type": "tab",
        "label": "in-only & broadcast",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "577a607a.ae90e",
        "type": "subflow",
        "name": "Subflow With Components inside",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 160,
                "y": 160,
                "wires": [
                    {
                        "id": "c9435efc.7ddf4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 500,
                "y": 120,
                "wires": [
                    {
                        "id": "c9435efc.7ddf4",
                        "port": 0
                    }
                ]
            },
            {
                "x": 500,
                "y": 160,
                "wires": [
                    {
                        "id": "c9435efc.7ddf4",
                        "port": 1
                    }
                ]
            },
            {
                "x": 500,
                "y": 200,
                "wires": [
                    {
                        "id": "c9435efc.7ddf4",
                        "port": 2
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "c9435efc.7ddf4",
        "type": "component",
        "z": "577a607a.ae90e",
        "name": "",
        "targetComponent": {
            "id": "c58cbb4f.4a7a98",
            "name": "Component 4",
            "api": []
        },
        "paramSources": {},
        "statuz": "",
        "statuzType": "str",
        "outputs": 3,
        "outLabels": [
            "default",
            "ret 04.3",
            "ret 04.4"
        ],
        "x": 330,
        "y": 160,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b7399e41.d70c9",
        "type": "catch",
        "z": "577a607a.ae90e",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 280,
        "y": 320,
        "wires": [
            [
                "f6821261.c116d"
            ]
        ]
    },
    {
        "id": "f6821261.c116d",
        "type": "debug",
        "z": "577a607a.ae90e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 320,
        "wires": []
    },
    {
        "id": "fbb8e0c6.fd63c",
        "type": "component_in",
        "z": "22d80fc6.ada47",
        "name": "Component",
        "api": [],
        "x": 150,
        "y": 140,
        "wires": [
            [
                "19eab3c2.0c8d8c",
                "98f85e9383d55882"
            ]
        ]
    },
    {
        "id": "19eab3c2.0c8d8c",
        "type": "component_out",
        "z": "22d80fc6.ada47",
        "name": "return",
        "mode": "default",
        "x": 430,
        "y": 140,
        "wires": []
    },
    {
        "id": "65025951.68c2a8",
        "type": "component",
        "z": "22d80fc6.ada47",
        "name": "run it",
        "targetComponent": {
            "id": "fbb8e0c6.fd63c",
            "name": "Component",
            "api": []
        },
        "paramSources": {},
        "statuz": "",
        "statuzType": "str",
        "outputs": 1,
        "outLabels": [
            "default"
        ],
        "x": 270,
        "y": 100,
        "wires": [
            [
                "364e4d91.1c1952"
            ]
        ]
    },
    {
        "id": "364e4d91.1c1952",
        "type": "debug",
        "z": "22d80fc6.ada47",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 100,
        "wires": []
    },
    {
        "id": "4398a730.4ea3e8",
        "type": "inject",
        "z": "22d80fc6.ada47",
        "name": "Run",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Works!",
        "payloadType": "str",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "65025951.68c2a8"
            ]
        ]
    },
    {
        "id": "dcdfa483.b6b2d8",
        "type": "component_in",
        "z": "22d80fc6.ada47",
        "name": "Component 1",
        "api": [
            {
                "name": "name1",
                "type": "string",
                "required": true
            },
            {
                "name": "Das ist ein l채ngerer",
                "type": "json",
                "required": true
            },
            {
                "name": "number",
                "type": "number",
                "required": true
            },
            {
                "name": "bool",
                "type": "boolean",
                "required": true
            },
            {
                "name": "sdfsdfdfsd",
                "type": "any",
                "required": true
            }
        ],
        "x": 130,
        "y": 460,
        "wires": [
            [
                "f18f31a4.2888b"
            ]
        ]
    },
    {
        "id": "56b92b19.e59524",
        "type": "component_out",
        "z": "22d80fc6.ada47",
        "name": "ret 01a",
        "mode": "default",
        "x": 670,
        "y": 460,
        "wires": []
    },
    {
        "id": "dc96eeae.03b13",
        "type": "component",
        "z": "22d80fc6.ada47",
        "name": "run 02",
        "targetComponent": {
            "id": "30f5fb76.8401c4",
            "name": "Component 2",
            "api": []
        },
        "paramSources": {},
        "statuz": "",
        "statuzType": "str",
        "outputs": 1,
        "outLabels": [
            "ret 02"
        ],
        "x": 510,
        "y": 460,
        "wires": [
            [
                "56b92b19.e59524"
            ]
        ]
    },
    {
        "id": "30f5fb76.8401c4",
        "type": "component_in",
        "z": "22d80fc6.ada47",
        "name": "Component 2",
        "api": [],
        "x": 130,
        "y": 560,
        "wires": [
            [
                "f894bb4.9489448"
            ]
        ]
    },
    {
        "id": "ead6ba0d.80dd18",
        "type": "component_out",
        "z": "22d80fc6.ada47",
        "name": "ret 02",
        "mode": "separate",
        "x": 650,
        "y": 560,
        "wires": []
    },
    {
        "id": "f18f31a4.2888b",
        "type": "change",
        "z": "22d80fc6.ada47",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "outer",
                "pt": "msg",
                "to": "{\"test\": 42}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 460,
        "wires": [
            [
                "dc96eeae.03b13",
                "1c65437f.5d316d"
            ]
        ]
    },
    {
        "id": "8b154ce9.4db91",
        "type": "inject",
        "z": "22d80fc6.ada47",
        "name": "Run",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"inner\":{\"more\":\"Hey\",\"even more\":999}}",
        "payloadType": "json",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "1cf63259.f760be"
            ]
        ]
    },
    {
        "id": "5900835f.17f83c",
        "type": "debug",
        "z": "22d80fc6.ada47",
        "name": "default (inner)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 360,
        "wires": []
    },
    {
        "id": "f894bb4.9489448",
        "type": "change",
        "z": "22d80fc6.ada47",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "inner",
                "pt": "msg",
                "to": "23",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 560,
        "wires": [
            [
                "f250b246.6d27c"
            ]
        ]
    },
    {
        "id": "1c65437f.5d316d",
        "type": "component_out",
        "z": "22d80fc6.ada47",
        "name": "ret 01b",
        "mode": "separate",
        "x": 520,
        "y": 500,
        "wires": []
    },
    {
        "id": "1cf63259.f760be",
        "type": "component",
        "z": "22d80fc6.ada47",
        "name": "run 01",
        "targetComponent": {
            "id": "dcdfa483.b6b2d8",
            "name": "Component 1",
            "api": [
                {
                    "name": "name1",
                    "type": "string",
                    "required": true
                },
                {
                    "name": "Das ist ein l채ngerer",
                    "type": "json",
                    "required": true
                },
                {
                    "name": "number",
                    "type": "number",
                    "required": true
                },
                {
                    "name": "bool",
                    "type": "boolean",
                    "required": true
                },
                {
                    "name": "sdfsdfdfsd",
                    "type": "any",
                    "required": true
                }
            ]
        },
        "paramSources": {
            "name1": {
                "name": "name1",
                "type": "string",
                "required": true,
                "source": "\"Test\"",
                "sourceType": "jsonata"
            },
            "Das ist ein l채ngerer": {
                "name": "Das ist ein l채ngerer",
                "type": "json",
                "required": true,
                "source": "[\"a\", \"b\"]",
                "sourceType": "json"
            },
            "number": {
                "name": "number",
                "type": "number",
                "required": true,
                "source": "4",
                "sourceType": "json"
            },
            "bool": {
                "name": "bool",
                "type": "boolean",
                "required": true,
                "source": "true",
                "sourceType": "bool"
            },
            "sdfsdfdfsd": {
                "name": "sdfsdfdfsd",
                "type": "any",
                "required": true,
                "source": "{}",
                "sourceType": "json"
            }
        },
        "statuz": "name1",
        "statuzType": "msg",
        "outputs": 2,
        "outLabels": [
            "default",
            "ret 01b"
        ],
        "x": 290,
        "y": 380,
        "wires": [
            [
                "5900835f.17f83c"
            ],
            [
                "ee4645bc.e3f438"
            ]
        ]
    },
    {
        "id": "e2a3926c.6e823",
        "type": "link in",
        "z": "22d80fc6.ada47",
        "name": "link in 01",
        "links": [
            "f250b246.6d27c"
        ],
        "x": 535,
        "y": 560,
        "wires": [
            [
                "ead6ba0d.80dd18"
            ]
        ]
    },
    {
        "id": "f250b246.6d27c",
        "type": "link out",
        "z": "22d80fc6.ada47",
        "name": "link out 01",
        "links": [
            "e2a3926c.6e823"
        ],
        "x": 435,
        "y": 560,
        "wires": []
    },
    {
        "id": "ee4645bc.e3f438",
        "type": "debug",
        "z": "22d80fc6.ada47",
        "name": "outer only",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 400,
        "wires": []
    },
    {
        "id": "98f85e9383d55882",
        "type": "debug",
        "z": "22d80fc6.ada47",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 200,
        "wires": []
    },
    {
        "id": "4805cfb8e105bf51",
        "type": "component_in",
        "z": "5d0725e9aadb00ed",
        "name": "Issue 25",
        "api": [
            {
                "name": "must",
                "type": "any",
                "required": true
            },
            {
                "name": "could2",
                "type": "any",
                "required": false
            }
        ],
        "x": 180,
        "y": 100,
        "wires": [
            [
                "b3ee8c661a898c4a"
            ]
        ]
    },
    {
        "id": "b3ee8c661a898c4a",
        "type": "component_out",
        "z": "5d0725e9aadb00ed",
        "name": "ret",
        "mode": "default",
        "x": 470,
        "y": 100,
        "wires": []
    },
    {
        "id": "29846b123533a1cd",
        "type": "component",
        "z": "5d0725e9aadb00ed",
        "name": "run",
        "targetComponent": {
            "id": "4805cfb8e105bf51",
            "name": "Issue 25",
            "api": [
                {
                    "name": "must",
                    "type": "any",
                    "required": true
                },
                {
                    "name": "could2",
                    "type": "any",
                    "required": false
                }
            ]
        },
        "paramSources": {
            "must": {
                "name": "must",
                "type": "any",
                "required": true,
                "source": "payload",
                "sourceType": "msg"
            },
            "could2": {
                "name": "could2",
                "type": "any",
                "required": false,
                "source": "a",
                "sourceType": "msg"
            }
        },
        "statuz": "",
        "statuzType": "str",
        "outputs": 1,
        "outLabels": [
            "default"
        ],
        "x": 310,
        "y": 60,
        "wires": [
            [
                "ba2fdcec0734b465"
            ]
        ]
    },
    {
        "id": "ba2fdcec0734b465",
        "type": "debug",
        "z": "5d0725e9aadb00ed",
        "name": "25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 60,
        "wires": []
    },
    {
        "id": "2b19fd9bf29eafaa",
        "type": "inject",
        "z": "5d0725e9aadb00ed",
        "name": "issue #25",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Works!",
        "payloadType": "str",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "29846b123533a1cd"
            ]
        ]
    },
    {
        "id": "fa8fdce3.235c1",
        "type": "debug",
        "z": "5d0725e9aadb00ed",
        "name": "04.4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 340,
        "wires": []
    },
    {
        "id": "f9b395f5.2f0458",
        "type": "debug",
        "z": "5d0725e9aadb00ed",
        "name": "04.3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "f7d4102.c0e6ff",
        "type": "debug",
        "z": "5d0725e9aadb00ed",
        "name": "04.1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 280,
        "wires": []
    },
    {
        "id": "6b50b048.8fd3e",
        "type": "component_out",
        "z": "5d0725e9aadb00ed",
        "name": "ret 04.1",
        "mode": "default",
        "x": 460,
        "y": 340,
        "wires": []
    },
    {
        "id": "30c7b937.ca1356",
        "type": "component_out",
        "z": "5d0725e9aadb00ed",
        "name": "ret 04.2",
        "mode": "default",
        "x": 460,
        "y": 380,
        "wires": []
    },
    {
        "id": "3ba50700.4d49fa",
        "type": "component_out",
        "z": "5d0725e9aadb00ed",
        "name": "ret 04.3",
        "mode": "separate",
        "x": 460,
        "y": 420,
        "wires": []
    },
    {
        "id": "13436b52.301765",
        "type": "component_out",
        "z": "5d0725e9aadb00ed",
        "name": "ret 04.4",
        "mode": "separate",
        "x": 460,
        "y": 460,
        "wires": []
    },
    {
        "id": "e4c58494.4eec48",
        "type": "component",
        "z": "5d0725e9aadb00ed",
        "name": "run 04",
        "targetComponent": {
            "id": "c58cbb4f.4a7a98",
            "name": "Component 4",
            "api": []
        },
        "paramSources": {},
        "statuz": "",
        "statuzType": "str",
        "outputs": 3,
        "outLabels": [
            "default",
            "ret 04.3",
            "ret 04.4"
        ],
        "x": 290,
        "y": 300,
        "wires": [
            [
                "f7d4102.c0e6ff"
            ],
            [
                "f9b395f5.2f0458"
            ],
            [
                "fa8fdce3.235c1"
            ]
        ]
    },
    {
        "id": "f6daa03a.cd464",
        "type": "inject",
        "z": "5d0725e9aadb00ed",
        "name": "Run",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Works!",
        "payloadType": "str",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "e4c58494.4eec48"
            ]
        ]
    },
    {
        "id": "c58cbb4f.4a7a98",
        "type": "component_in",
        "z": "5d0725e9aadb00ed",
        "name": "Component 4",
        "api": [],
        "x": 170,
        "y": 340,
        "wires": [
            [
                "6b50b048.8fd3e",
                "30c7b937.ca1356",
                "3ba50700.4d49fa",
                "13436b52.301765"
            ]
        ]
    },
    {
        "id": "9ade5529.f55d08",
        "type": "subflow:577a607a.ae90e",
        "z": "5d0725e9aadb00ed",
        "name": "",
        "env": [],
        "x": 420,
        "y": 580,
        "wires": [
            [
                "d815632f.9188"
            ],
            [
                "c2851d15cdd93b17"
            ],
            [
                "93aec37e5a105087"
            ]
        ]
    },
    {
        "id": "d57fdf55.df9d2",
        "type": "inject",
        "z": "5d0725e9aadb00ed",
        "name": "Run",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"inner\":{\"more\":\"Hey\",\"even more\":999}}",
        "payloadType": "json",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "9ade5529.f55d08"
            ]
        ]
    },
    {
        "id": "d815632f.9188",
        "type": "debug",
        "z": "5d0725e9aadb00ed",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 560,
        "wires": []
    },
    {
        "id": "c2851d15cdd93b17",
        "type": "debug",
        "z": "5d0725e9aadb00ed",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 600,
        "wires": []
    },
    {
        "id": "93aec37e5a105087",
        "type": "debug",
        "z": "5d0725e9aadb00ed",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 640,
        "wires": []
    },
    {
        "id": "625615ee.5daf6c",
        "type": "subflow:577a607a.ae90e",
        "z": "5d0725e9aadb00ed",
        "name": "",
        "env": [],
        "x": 380,
        "y": 720,
        "wires": [
            [
                "fadebc13.afb8"
            ],
            [],
            []
        ]
    },
    {
        "id": "915d9b39.d2f168",
        "type": "inject",
        "z": "5d0725e9aadb00ed",
        "name": "Run",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"inner\":{\"more\":\"Hey\",\"even more\":999}}",
        "payloadType": "json",
        "x": 150,
        "y": 720,
        "wires": [
            [
                "625615ee.5daf6c",
                "f4d116db.d3ccc8"
            ]
        ]
    },
    {
        "id": "fadebc13.afb8",
        "type": "debug",
        "z": "5d0725e9aadb00ed",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 720,
        "wires": []
    },
    {
        "id": "f4d116db.d3ccc8",
        "type": "component",
        "z": "5d0725e9aadb00ed",
        "name": "run ABC",
        "targetComponent": {
            "id": "c58cbb4f.4a7a98",
            "name": "Component 4",
            "api": []
        },
        "paramSources": {},
        "statuz": "",
        "statuzType": "str",
        "outputs": 3,
        "outLabels": [
            "default",
            "ret 04.3",
            "ret 04.4"
        ],
        "x": 310,
        "y": 780,
        "wires": [
            [
                "55e22e6b.901b8"
            ],
            [],
            []
        ]
    },
    {
        "id": "55e22e6b.901b8",
        "type": "debug",
        "z": "5d0725e9aadb00ed",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 780,
        "wires": []
    },
    {
        "id": "f28378a7.c19d08",
        "type": "inject",
        "z": "5d0725e9aadb00ed",
        "name": "test",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 980,
        "wires": [
            [
                "19b0325f.2d0ede"
            ]
        ]
    },
    {
        "id": "c15f0b7e.fa0b28",
        "type": "component_in",
        "z": "5d0725e9aadb00ed",
        "name": "http test",
        "api": [],
        "x": 140,
        "y": 1040,
        "wires": [
            [
                "beee768c.c509c8",
                "a074362d.cd2ae8"
            ]
        ]
    },
    {
        "id": "c7702fe9.911ba",
        "type": "component_out",
        "z": "5d0725e9aadb00ed",
        "name": "OK",
        "mode": "separate",
        "component_definitions_are_NOT_allowed_inside_subflows": true,
        "x": 590,
        "y": 1040,
        "wires": []
    },
    {
        "id": "6c30bed4.d302",
        "type": "component_out",
        "z": "5d0725e9aadb00ed",
        "name": "BAD",
        "mode": "separate",
        "component_definitions_are_NOT_allowed_inside_subflows": true,
        "x": 590,
        "y": 1120,
        "wires": []
    },
    {
        "id": "4faeeff8.47193",
        "type": "http in",
        "z": "5d0725e9aadb00ed",
        "name": "",
        "url": "/httptest",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1180,
        "wires": [
            [
                "dbe5916e.7ed2c"
            ]
        ]
    },
    {
        "id": "deb1b9ff.654cc8",
        "type": "http response",
        "z": "5d0725e9aadb00ed",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 1180,
        "wires": []
    },
    {
        "id": "dbe5916e.7ed2c",
        "type": "component",
        "z": "5d0725e9aadb00ed",
        "name": "",
        "targetComponent": {
            "id": "c15f0b7e.fa0b28",
            "name": "http test",
            "api": []
        },
        "paramSources": {},
        "statuz": "",
        "statuzType": "str",
        "outputs": 2,
        "outLabels": [
            "OK",
            "BAD"
        ],
        "x": 340,
        "y": 1180,
        "wires": [
            [
                "deb1b9ff.654cc8"
            ],
            [
                "c2c2d374.933f"
            ]
        ]
    },
    {
        "id": "19b0325f.2d0ede",
        "type": "http request",
        "z": "5d0725e9aadb00ed",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1901/httptest",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 980,
        "wires": [
            [
                "ccd6f788.218b38"
            ]
        ]
    },
    {
        "id": "c2c2d374.933f",
        "type": "change",
        "z": "5d0725e9aadb00ed",
        "name": "404",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "404",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1220,
        "wires": [
            [
                "deb1b9ff.654cc8"
            ]
        ]
    },
    {
        "id": "beee768c.c509c8",
        "type": "file in",
        "z": "5d0725e9aadb00ed",
        "name": "",
        "filename": "IamNotHere.dummy",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 380,
        "y": 1040,
        "wires": [
            [
                "c7702fe9.911ba"
            ]
        ]
    },
    {
        "id": "c219b.19555e66",
        "type": "catch",
        "z": "5d0725e9aadb00ed",
        "name": "",
        "scope": [
            "beee768c.c509c8"
        ],
        "uncaught": false,
        "x": 340,
        "y": 1120,
        "wires": [
            [
                "6c30bed4.d302"
            ]
        ]
    },
    {
        "id": "a074362d.cd2ae8",
        "type": "function",
        "z": "5d0725e9aadb00ed",
        "name": "trick / work-around",
        "func": "// dont pass on the message!",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 1080,
        "wires": [
            [
                "6c30bed4.d302"
            ]
        ]
    },
    {
        "id": "ccd6f788.218b38",
        "type": "debug",
        "z": "5d0725e9aadb00ed",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 980,
        "wires": []
    },
    {
        "id": "e6d8231c.8ba3e",
        "type": "component",
        "z": "5d0725e9aadb00ed",
        "name": "run it",
        "targetComponent": {
            "id": "aac88ccb.d85c5",
            "name": "component in 123",
            "api": []
        },
        "paramSources": {},
        "statuz": "",
        "statuzType": "str",
        "outputs": 0,
        "outLabels": [],
        "x": 310,
        "y": 1320,
        "wires": []
    },
    {
        "id": "9f209426.83e0a8",
        "type": "inject",
        "z": "5d0725e9aadb00ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "HellO!",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1320,
        "wires": [
            [
                "e6d8231c.8ba3e"
            ]
        ]
    },
    {
        "id": "aac88ccb.d85c5",
        "type": "component_in",
        "z": "5d0725e9aadb00ed",
        "name": "component in 123",
        "api": [],
        "x": 350,
        "y": 1360,
        "wires": [
            [
                "d7c46bf6.76e748"
            ]
        ]
    },
    {
        "id": "d7c46bf6.76e748",
        "type": "debug",
        "z": "5d0725e9aadb00ed",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1360,
        "wires": []
    },
    {
        "id": "c2053417.39ef38",
        "type": "component_in",
        "z": "5d0725e9aadb00ed",
        "name": "missing options",
        "api": [
            {
                "name": "option",
                "type": "string",
                "required": false,
                "global": false
            },
            {
                "name": "option2",
                "type": "string",
                "required": false,
                "global": false
            }
        ],
        "x": 160,
        "y": 1540,
        "wires": [
            [
                "2c500813.3f88d8"
            ]
        ]
    },
    {
        "id": "2c500813.3f88d8",
        "type": "component_out",
        "z": "5d0725e9aadb00ed",
        "name": "",
        "mode": "default",
        "component_definitions_are_NOT_allowed_inside_subflows": true,
        "x": 370,
        "y": 1540,
        "wires": []
    },
    {
        "id": "7b2b2cd3.5874e4",
        "type": "component",
        "z": "5d0725e9aadb00ed",
        "name": "",
        "targetComponent": {
            "id": "c2053417.39ef38",
            "name": "missing options",
            "api": [
                {
                    "name": "option",
                    "type": "string",
                    "required": false,
                    "global": false
                },
                {
                    "name": "option2",
                    "type": "string",
                    "required": false,
                    "global": false
                }
            ]
        },
        "paramSources": {
            "option": {
                "name": "option",
                "type": "string",
                "required": false,
                "global": false,
                "source": "",
                "sourceType": "msg"
            },
            "option2": {
                "name": "option2",
                "type": "string",
                "required": false,
                "global": false,
                "source": "nix",
                "sourceType": "msg"
            }
        },
        "statuz": "",
        "statuzType": "str",
        "outputs": 1,
        "outLabels": [
            "default"
        ],
        "x": 380,
        "y": 1480,
        "wires": [
            [
                "ca9bedb9.3363d"
            ]
        ]
    },
    {
        "id": "6ad1ce7b.eab06",
        "type": "inject",
        "z": "5d0725e9aadb00ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1480,
        "wires": [
            [
                "7b2b2cd3.5874e4"
            ]
        ]
    },
    {
        "id": "ca9bedb9.3363d",
        "type": "debug",
        "z": "5d0725e9aadb00ed",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1480,
        "wires": []
    },
    {
        "id": "4fc78377d569ba68",
        "type": "inject",
        "z": "5d0725e9aadb00ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1280,
        "wires": [
            [
                "c03b066b43463ecb"
            ]
        ]
    },
    {
        "id": "c03b066b43463ecb",
        "type": "component",
        "z": "5d0725e9aadb00ed",
        "name": "",
        "targetComponent": {
            "id": "aac88ccb.d85c5",
            "name": "component in 123",
            "api": []
        },
        "paramSources": {},
        "statuz": "payload",
        "statuzType": "msg",
        "outputs": 0,
        "outLabels": [],
        "x": 360,
        "y": 1280,
        "wires": []
    },
    {
        "id": "c3f4e224d5daeffd",
        "type": "component_out",
        "z": "656d80ccf1abf694",
        "name": "",
        "mode": "default",
        "component_definitions_are_NOT_allowed_inside_subflows": true,
        "x": 330,
        "y": 160,
        "wires": []
    },
    {
        "id": "995118f0837f5d85",
        "type": "inject",
        "z": "656d80ccf1abf694",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "c3f4e224d5daeffd",
                "1045516d9b6491fc"
            ]
        ]
    },
    {
        "id": "1045516d9b6491fc",
        "type": "component",
        "z": "656d80ccf1abf694",
        "name": "",
        "targetComponent": {
            "id": "fbb8e0c6.fd63c",
            "name": "Component",
            "api": []
        },
        "paramSources": {},
        "statuz": "",
        "statuzType": "str",
        "outputs": 1,
        "outLabels": [
            "default"
        ],
        "x": 310,
        "y": 100,
        "wires": [
            [
                "0d24e43834f28782"
            ]
        ]
    },
    {
        "id": "0d24e43834f28782",
        "type": "debug",
        "z": "656d80ccf1abf694",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 100,
        "wires": []
    },
    {
        "id": "ea8226551ed919fc",
        "type": "component_out",
        "z": "656d80ccf1abf694",
        "name": "",
        "mode": "default",
        "component_definitions_are_NOT_allowed_inside_subflows": true,
        "x": 370,
        "y": 260,
        "wires": []
    },
    {
        "id": "6e2e884e4cb8a424",
        "type": "component_in",
        "z": "656d80ccf1abf694",
        "name": "Dummy B",
        "api": [],
        "x": 120,
        "y": 300,
        "wires": [
            [
                "ea8226551ed919fc"
            ]
        ]
    },
    {
        "id": "791c3c268a29eeb0",
        "type": "component_in",
        "z": "656d80ccf1abf694",
        "name": "Dummy A",
        "api": [],
        "x": 120,
        "y": 240,
        "wires": [
            [
                "ea8226551ed919fc"
            ]
        ]
    },
    {
        "id": "a6a8a672c69ba580",
        "type": "component_in",
        "z": "aa8d4fd1ad84c1f0",
        "name": "handle",
        "api": [
            {
                "name": "prop",
                "type": "json",
                "required": true,
                "global": false
            }
        ],
        "node_is_not_connected": false,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "9005eef32143a5a4"
            ]
        ]
    },
    {
        "id": "a59a865f4082b600",
        "type": "component",
        "z": "aa8d4fd1ad84c1f0",
        "name": "",
        "targetComponent": {
            "id": "a6a8a672c69ba580",
            "name": "handle",
            "api": [
                {
                    "name": "prop",
                    "type": "json",
                    "required": true,
                    "global": false
                }
            ]
        },
        "paramSources": {
            "prop": {
                "name": "prop",
                "type": "json",
                "required": true,
                "global": false,
                "source": "payload.1",
                "sourceType": "msg"
            }
        },
        "statuz": "",
        "statuzType": "str",
        "outputs": 1,
        "outLabels": [
            "default"
        ],
        "x": 260,
        "y": 220,
        "wires": [
            [
                "acd9bbf168cc74e5"
            ]
        ]
    },
    {
        "id": "2e073cef2ff94909",
        "type": "inject",
        "z": "aa8d4fd1ad84c1f0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"1\":{\"name\":\"1\",\"children\":{\"1.1\":{\"name\":\"1.1\",\"children\":{\"1.1.1\":{\"name\":\"1.1.1\",\"children\":{}},\"1.1.2\":{\"name\":\"1.1.2\",\"children\":{}}}},\"1.2\":{\"name\":\"1.2\",\"children\":{\"1.2.1\":{\"name\":\"1.2.1\",\"children\":{}}}}}}}",
        "payloadType": "json",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "a59a865f4082b600"
            ]
        ]
    },
    {
        "id": "9005eef32143a5a4",
        "type": "change",
        "z": "aa8d4fd1ad84c1f0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "component.prop.touch",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 280,
        "wires": [
            [
                "cc5bb0dfa0bd902a"
            ]
        ]
    },
    {
        "id": "cc5bb0dfa0bd902a",
        "type": "function",
        "z": "aa8d4fd1ad84c1f0",
        "name": "",
        "func": "if (msg.component.handledChildren) {\n    // here we get the result of the nested handle call.\n    if (msg.component.handledChildren.length == Object.keys(msg.component.prop.children).length) {\n        delete msg.component.handledChildren;\n        return msg;\n    } else {\n        // next child\n        for (let c in msg.component.prop.children) {\n            let child = msg.component.prop.children[c];\n            if (msg.component.handledChildren.includes(child)) {\n                continue;\n            }\n            msg.component.child = child;\n            node.send([null, msg]);\n            break;\n        }\n    }\n} else {\n    // here the initial call from the start node\n    let foundChild = false;\n    for (let c in msg.component.prop.children) {\n        let child = msg.component.prop.children[c];\n        msg.component.child = child;\n        msg.component.handledChildren = [];\n        node.send([null, msg]);\n        foundChild = true;\n        break;\n    }\n    if (!foundChild) {\n        return msg;\n    }\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 280,
        "wires": [
            [
                "711b5a0e375baea0"
            ],
            [
                "620940be4a49e8d6"
            ]
        ]
    },
    {
        "id": "620940be4a49e8d6",
        "type": "component",
        "z": "aa8d4fd1ad84c1f0",
        "name": "",
        "targetComponent": {
            "id": "a6a8a672c69ba580",
            "name": "handle",
            "api": [
                {
                    "name": "prop",
                    "type": "json",
                    "required": true,
                    "global": false
                }
            ]
        },
        "paramSources": {
            "prop": {
                "name": "prop",
                "type": "json",
                "required": true,
                "global": false,
                "source": "component.child",
                "sourceType": "msg"
            }
        },
        "statuz": "",
        "statuzType": "str",
        "outputs": 1,
        "outLabels": [
            "default"
        ],
        "x": 760,
        "y": 340,
        "wires": [
            [
                "7c9ee2427d8a6734"
            ]
        ]
    },
    {
        "id": "acd9bbf168cc74e5",
        "type": "debug",
        "z": "aa8d4fd1ad84c1f0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 220,
        "wires": []
    },
    {
        "id": "7c9ee2427d8a6734",
        "type": "function",
        "z": "aa8d4fd1ad84c1f0",
        "name": "mark as handled",
        "func": "if (msg.component.handledChildren) {\n    msg.component.handledChildren.push(msg.component.child);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 340,
        "wires": [
            [
                "cc5bb0dfa0bd902a"
            ]
        ]
    },
    {
        "id": "711b5a0e375baea0",
        "type": "component_out",
        "z": "aa8d4fd1ad84c1f0",
        "name": "",
        "mode": "default",
        "component_definitions_are_NOT_allowed_inside_subflows": true,
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "bc4a543c71e49c3d",
        "type": "component_in",
        "z": "6542e73107b394b8",
        "name": "black hole",
        "api": [
            {
                "name": "prop",
                "type": "string",
                "required": true,
                "global": false
            }
        ],
        "node_is_not_connected": false,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "48d59f4c3f8bf29c"
            ]
        ]
    },
    {
        "id": "48d59f4c3f8bf29c",
        "type": "change",
        "z": "6542e73107b394b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "blackhole",
                "pt": "global",
                "to": "prop",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 140,
        "wires": [
            [
                "f54ff2eeef33e0a4"
            ]
        ]
    },
    {
        "id": "893952bc6439e999",
        "type": "inject",
        "z": "6542e73107b394b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Tescht",
        "payloadType": "str",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "3d4e4f07f5e86b93"
            ]
        ]
    },
    {
        "id": "3d4e4f07f5e86b93",
        "type": "component",
        "z": "6542e73107b394b8",
        "name": "",
        "targetComponent": {
            "id": "bc4a543c71e49c3d",
            "name": "black hole",
            "api": [
                {
                    "name": "prop",
                    "type": "string",
                    "required": true,
                    "global": false
                }
            ]
        },
        "paramSources": {
            "prop": {
                "name": "prop",
                "type": "string",
                "required": true,
                "global": false,
                "source": "payload",
                "sourceType": "msg"
            }
        },
        "statuz": "",
        "statuzType": "str",
        "outputs": 0,
        "outLabels": [],
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "1598253f50d21089",
        "type": "component",
        "z": "6542e73107b394b8",
        "name": "",
        "targetComponent": {
            "id": "d45aeacd26a2b94b",
            "name": "broadcast",
            "api": []
        },
        "paramSources": {},
        "statuz": "",
        "statuzType": "str",
        "outputs": 1,
        "outLabels": [
            "default"
        ],
        "x": 390,
        "y": 280,
        "wires": [
            [
                "190830f284bc3b77"
            ]
        ]
    },
    {
        "id": "d1a15eb79388c309",
        "type": "component_out",
        "z": "6542e73107b394b8",
        "name": "",
        "mode": "default",
        "node_is_not_connected": false,
        "component_definitions_are_NOT_allowed_inside_subflows": false,
        "x": 390,
        "y": 360,
        "wires": []
    },
    {
        "id": "d45aeacd26a2b94b",
        "type": "component_in",
        "z": "6542e73107b394b8",
        "name": "broadcast",
        "api": [],
        "node_is_not_connected": false,
        "x": 180,
        "y": 360,
        "wires": [
            [
                "d1a15eb79388c309"
            ]
        ]
    },
    {
        "id": "190830f284bc3b77",
        "type": "debug",
        "z": "6542e73107b394b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 280,
        "wires": []
    },
    {
        "id": "4c1676fb7cfeb5f3",
        "type": "inject",
        "z": "6542e73107b394b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Tescht",
        "payloadType": "str",
        "x": 190,
        "y": 420,
        "wires": [
            [
                "d1a15eb79388c309"
            ]
        ]
    },
    {
        "id": "d4b4021db0d2a37e",
        "type": "component",
        "z": "6542e73107b394b8",
        "name": "",
        "targetComponent": {
            "id": "d45aeacd26a2b94b",
            "name": "broadcast",
            "api": []
        },
        "paramSources": {},
        "statuz": "",
        "statuzType": "str",
        "outputs": 1,
        "outLabels": [
            "default"
        ],
        "x": 390,
        "y": 320,
        "wires": [
            [
                "e987d8a0fb7fc8bd"
            ]
        ]
    },
    {
        "id": "e987d8a0fb7fc8bd",
        "type": "debug",
        "z": "6542e73107b394b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 320,
        "wires": []
    },
    {
        "id": "f54ff2eeef33e0a4",
        "type": "debug",
        "z": "6542e73107b394b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "a493c3106f69e94b",
        "type": "delay",
        "z": "6542e73107b394b8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 390,
        "y": 40,
        "wires": [
            [
                "e92d9679e9ef7e75"
            ]
        ]
    },
    {
        "id": "e92d9679e9ef7e75",
        "type": "debug",
        "z": "6542e73107b394b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 40,
        "wires": []
    }
]